@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css');

.bpw-widget-btn {           
            background-color: #813efb !important;
        }


#btn-send {
text-indent: -9999px;
line-height: 0;
background-color:#813efb;
            color:#fff;
            padding:9px;
}

#btn-send::after {
    content:"Odeslat";
    text-indent: 0;
    display: block;
    line-height: initial;        
}

#btn-send:disabled {
    opacity: 0.5;
}
