@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css');

.bpw-widget-btn {           
            background-color: #813efb !important;
        }


#btn-send {
text-indent: -9999px;
line-height: 0;
background-color:#813efb;
            color:#fff;
}

#btn-send::after {
    content: '\f1d8';
    text-indent: 0;
    display: block;
    line-height: initial;        
}

