 @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

.bpw-widget-btn {           
            background-color: #813efb !important;
        }
.bpw-send-buttons{
 align-items: unset;
}

#btn-send {
            visibility: hidden;
            color:#fff;
}

#btn-send::after {
            content: "\f1d8";
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    background-color: #813efb;
    padding: 8px 8px 8px 6.5px;
    border-radius: 4px;
    margin-top: -15px;
}
}

#btn-send:disabled {
            opacity: 0.5;
}
